header {
    width: 98vw;
    display: flex;
    justify-content: center;

    nav {
        width: 80vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            width: 50vw;
            display: flex;
            justify-content: space-around;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 25px;
                    font-weight: 400;
                }

                :hover {
                    color: #FF8A00;
                }
            }
        }

        .log {
            width: 10vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                width: 100px;
                height: 50px;
                background-color: #3FA72F;
                border: 1px solid #3FA72F;
                border-radius: 30px;
                font-size: 14px;
                font-weight: 600;
                color: #FFFFFF;
            }
        }
    }
}